@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondaryBackground: #F8F9FB;
  --thirdBackground:#F5F3FF
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-transWhite: #333333;
  --color-offWhite: var(--secondaryBackground); 
  --color-softPurple: var(--thirdBackground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #5d48ec;
}

@layer base {
  h1 {
    @apply font-semibold text-6xl leading-[82px] tracking-tight text-center align-middle;
  }
  h2 {
    @apply font-semibold text-4xl leading-12 tracking-tight capitalize;
  }
  h3 {
    @apply font-medium text-xl leading-8 tracking-[0.45px] text-center capitalize;
  }
  h4 {
    @apply font-medium text-base leading-tight tracking-tight align-middle;
  }
  p {
    @apply font-normal text-base leading-6 tracking-tight text-center align-middle;
  }
  footer {
    @apply font-normal text-sm leading-5 tracking-tight align-middle;
  }
  .nav {
    @apply font-medium text-xs leading-tight tracking-tight;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
}
